<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
	
	<head>

		<title>POS289::Varian</title>

	</head>

	<body>
		<div layout:fragment="content">
			<h1>Varian Page</h1>
			<p>
				<button class = "btn btn-danger">+Tambah Varian</button>
			</p>
			<table class="table">
				<thead>
					<tr>
						<th>No</th>
						<th>Category Id</th>
						<th>Initial</th>
						<th>Name</th>
						<th>Active</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item, iter:${varian}">
						<td th:text="${iter.count}"></td>
						<td th:text="${item.CategoryId}"></td>
						<td th:text="${item.Initial}"></td>
						<td th:text="${item.Name}"></td>
						<td><input type="checkbox" th:checked="${item.Active}" disabled></td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>