<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>POS289::User</title>
</head>
	<body>
		<div layout:fragment="content">
			<h1>User Page</h1>
			<p align="right">
				<button align="rigth" class="btn btn-success" onclick="addform()">+</button>
			</p>
			<table class="table table-striped table-hover">
			<thead>
				<tr align="center">
					<th>No</th>
					<th>Email</th>
					<th>Username</th>
					<th>Password</th>
					<th>Fullname</th>
					<th>Photo</th>
					<th>Action</th>
				</tr>
 			</thead>
			<tbody>
			<tr th:each="item, iter : ${listuser}">
					<td align="center" th:text="${iter.count}"></td>
					<td align="center" th:text="${item.Email}"></td>
					<td th:text="${item.UserName}"></td>
					<td th:text="${item.Password}"></td>
					<td th:text="${item.FullName}"></td>
					<td> 
						<img th:src="@{${'/images/'+item.Photo}}" height="50"><br>
						<button onclick="openimage(this.value)" th:value="${item.id}" class="btn btn-sm btn-primary">show
						</button>
					</td>
					<td align="center">
						<button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-warning">
							<span class="btn-label"><i class="fa fa-pencil"></i></span>
						</button>
						<button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="fa fa-trash"></i></span>
						</button>
					</td>
				</tr>
			</tbody>
			</table>
			<script>
			function userform(){
				$.ajax({
					url : 'user/form',
					type : 'get',
					contentType : 'html'
				})
			}
			function addform(){
				$.ajax({
					url:'/user/form',
					type:'get',
					contentType:'html',
					success:function(result){
						console.log(result)
						$("#mymodal").modal('show')
						$(".modal-title").html('Tambah Data Category')
						$(".modal-body").html(result)
					}
				})
			}
			
			function openimage(id){
				$.ajax({
					url:'/user/getuser/'+id,
					type:'get',
					contentType:'html',
					success:function(result){
						$('#mymodal').modal('show')
						$('.modal-title').html('Show Photo')
						$('.modal-body').html(result)
					}
				})
			}
			</script>
		</div>
	</body>
</html>