<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>POS289::Varian</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Varian Page</h1>
		<p align="right">
			<button onclick="topdf()" class="btn btn-sm btn-danger">
				<span class="btn label"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></span>
			</button>
			<button onclick="addform()" class="btn btn-sm btn-primary">
			<span class="btn label"><i class="fa fa-plus-square" aria-hidden="true"></i></span>        
			</button>
		</p>
		<table class="table">
			<thead>
				<tr align="center">
					<th>No</th>
					<th>Category</th>
					<th>Initial</th>
					<th>Name</th>
					<th>Active</th>
					<th>Action </th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, iter:${varian}">
					<td align="center" th:text="${iter.count}"></td>
					<td align="center" th:text="${item.Category.Name}"></td>
					<td align="center" th:text="${item.Initial}"></td>
					<td align="center" th:text="${item.Name}"></td>
					<td align="center"><input type="checkbox" th:checked="${item.Active}" disabled></td>
					<td align="center">
						<button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-primary">
							<span class="btn-label"><i class="fa fa-pencil"></i></span>
						</button>
						<button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="fa fa-trash"></i></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<script>
		function editform(id){
			$.ajax({
				url:'/varian/edit/'+id,
				type:'get',
				contentType:'html',
				success:function(result){
					console.log(result)
					$("#mymodal").modal('show')
					$(".modal-title").html('Ubah Data Varian')
					$(".modal-body").html(result)
				}
			})
		}
		function deleteform(id){
			$.ajax({
				url:'/varian/deleteform/'+id,
				type:'get',
				contentType:'html',
				success:function(result){
					console.log(result)
					$("#mymodal").modal('show')
					$(".modal-title").html('Hapus Data Varian')
					$(".modal-body").html(result)
				}
			})
		}
		function addform(){
			$.ajax({
				url:'/varian/form',
				type:'get',
				contentType:'html',
				success:function(result){
					console.log(result)
					$("#mymodal").modal('show')
					$(".modal-title").html('Tambah Data Varian')
					$(".modal-body").html(result)
				}
			})
		}
		function topdf(){
			window.open('/varian/exportvariant', '_blank')
		}
		</script>
	</div>
</body>
</html>