<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thmyeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
	<title>POS289::Category</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>Category Page</h1>
		<p align="right">
			<button onclick="addform()" class="btn btn-success">+Tambah Category</button>
		</p>

		<table class="table table-striped table-hover">
			<thead>
				<tr align="center">
					<th>No</th>
					<th>Initial</th>
					<th>Name</th>
					<th>Active</th>
					<th>Create By</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="item, iter : ${listcat}">
					<td align="center" th:text="${iter.count}"></td>
					<td align="center" th:text="${item.Initial}"></td>
					<td th:text="${item.Name}"></td>
					<td align="center"><input type="checkbox" th:checked="${item.Active}" disabled></td>
					<td align="center" th:text="${item.CreatedBy}"></td>
					<td align="center">
						<button th:value="${item.Id}" onclick="editform(this.value)" class="btn btn-labeled btn-warning">
							<span class="btn-label"><i class="fa fa-pencil"></i></span>
						</button>
						<button th:value="${item.Id}" onclick="deleteform(this.value)" class="btn btn-labeled btn-danger">
							<span class="btn-label"><i class="fa fa-trash"></i></span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	<script>
	function editform(id){
		$.ajax({
			url:'/category/edit/'+id,
			type:'get',
			contentType:'html',
			success:function(result){
				console.log(result)
				$("#mymodal").modal('show')
				$(".modal-title").html('Ubah Data Category')
				$(".modal-body").html(result)
			}
		})
	}
	function deleteform(id){
		$.ajax({
			url:'/category/deleteform/'+id,
			type:'get',
			contentType:'html',
			success:function(result){
				console.log(result)
				$("#mymodal").modal('show')
				$(".modal-title").html('Hapus Data Category')
				$(".modal-body").html(result)
			}
		})
	}	
	function addform(){
		$.ajax({
			url:'/category/form',
			type:'get',
			contentType:'html',
			success:function(result){
				console.log(result)
				$("#mymodal").modal('show')
				$(".modal-title").html('Tambah Data Category')
				$(".modal-body").html(result)
		}
	})
}

</script>

</div>
</body>
</html>